.table {
    border: 2px solid black;border-spacing: 25px;
}
a {
    text-decoration:none;
    color: grey;
}
.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}
.info {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: rgb(195, 179, 179);
}
.tab {
    margin-left: 20px;

}
.table {
    background-color: rgba(154, 135, 135,0.3);
}